.App-header {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* justify-content: center; */
    margin-top: 20px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.quiz {
    background-color: #282c34;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 30px;
    font-size: calc(10px + 2vmin);
    color: white;
}

.quiz-container {
    background-color: rgb(240, 233, 233);
    width: 400px;
    height: 500px;
    display: flex;
    justify-content: center;
    color: black;
}

.quizz {}