* {
    margin: 0;
    padding: 0;
    background-color: #55554c;
}

.App {
    color: white;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
}

.start-button-container {
    display: flex;
    align-items: center;
    justify-content: center;
}

.start-button-container button {
    background-color: rgb(82, 187, 152);
    border: none;
    font-size: 1.6rem;
    color: white;
    border-radius: 8px;
    padding: 0.5rem;
    width: max-content;
}

.start-button-container button:hover {
    background-color: rgb(202, 199, 199);
    color: #282c34;
    cursor: pointer;
}